<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibm.cloud.app">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Notification Intent -->
            <intent-filter>
                <action android:name="com.ibm.cloud.app.IBMPushNotification" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Push Settings End -->

        </activity>

        <receiver android:name="com.ibm.cloud.eventnotifications.destination.android.ENPushNotificationDismissHandler">
            <intent-filter>
                <action android:name="com.ibm.cloud.app.Cancel_IBMPushNotification"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.ibm.cloud.eventnotifications.destination.android.ENPushNotificationHandler"
            android:theme="@android:style/Theme.NoDisplay"/>

        <service
            android:name="com.ibm.cloud.eventnotifications.destination.android.ENPushIntentService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--<service-->
        <!--android:name=".MessageIntentService"-->
        <!--android:exported="true" >-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.firebase.MESSAGING_EVENT" />-->
        <!--</intent-filter>-->
        <!--</service>-->

        <service
            android:name="com.ibm.cloud.eventnotifications.destination.android.ENPush"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>


    </application>

</manifest>